.container-fluid
  %p= t('usage.intro_html')
  %h1= "Lexeme: #{@lemma} (#{@lexeme_id})"
  = @lexical_category
  %p
  = button_tag t('usage.skip'), class: 'btn btn-secondary', onclick: "this.innerHTML = '#{t('usage.loading')}'; window.location.href = '/usage/lexeme?lang=#{@lang}';", style: 'float: right;'
  %h2= t('usage.senses')+':'
  %ol
    - @senses.each do |sense|
      %li
        - sense['glosses'].each do |lang, gloss|
          %span.gloss= "#{lang}: #{gloss['value']}"
          %br
  %p
  %h2= t('usage.example_candidates')+':'
  .examples
    - i = 0
    - @usage_examples.each do |example|
      - id = "ex#{i}"
      - i += 1
      - example_url = "https://#{@lang}.wikisource.org/wiki/#{example['title']}"
      - example_text = strip_tags(example['snippet'])
      .example{ 'data-bs-target' =>'#'+id, 'data-bs-toggle' =>'collapse'}
        %a{ href: example_url, target: '_blank'}
          %b= example['title']
        %br
        != example['snippet']
      .actions.collapse{id: id}
        %h3= t('usage.use_example')
        %p= t('usage.pick_a_sense')
        = form_tag action: :submit_usage, method: :post, id: "submit_usage_#{}" do
          %select{name: 'sense_id'}
            - @senses.each do |sense|
              %option{value: sense['id']}= sense['glosses'][@lang].nil? ? sense['glosses'].first[1]['value'] : sense['glosses'][@lang]['value']
          %br
          = button_tag t('usage.or_create_sense'), type: 'button', class: 'btn btn-secondary new_sense_btn'
          #new_sense{style: 'display: none;'}
            = t('usage.new_sense')
            %select{name: 'new_sense_lang'}
              - Rails.configuration.sorted_langs.each do |iso, data|
                %option{value: iso}= "#{data[:language_name_en]} (#{data[:language_autonym]})"
            %input{type: 'text', placeholder: t('usage.sense_gloss'), name: 'new_sense_gloss'}
          %p
          %p= t('usage.edit_example')
          = text_area_tag 'example', example_text, rows: 3, class: 'eighty example_text'
          = hidden_field_tag 'lexeme_id', @lexeme_id
          = hidden_field_tag 'lang', @lang
          = hidden_field_tag 'example_url', example_url
          %br
          %p.orig_text{ style: 'display:none'}= example_text
          = submit_tag t('usage.submit'), class: 'btn btn-primary eighty submit_btn'
          .btn.btn-primary.eighty.updating{style: 'display: none;cursor: wait;'}= t('usage.updating_wikidata')
        %p
  %hr
  = button_tag t('usage.skip'), class: 'btn btn-secondary', onclick: "this.innerHTML = '#{t('usage.loading')}'; window.location.href = '/usage/lexeme?lang=#{@lang}';"

:javascript
  $(document).ready(function() {
    $('.new_sense_btn').click(function(e) {
      $(this).parent().find('#new_sense').show();
      $(this).hide();
      e.preventDefault();
      e.stopPropagation();
    });
    $('.submit_btn').click(function(e) {
      if($(this).parent().find('.orig_text').text() == $(this).parent().find('.example_text').val()) {
        alert("#{t('usage.please_edit_the_example')}");
        e.preventDefault();
      } else {
        $(this).hide();
        $('.updating').show();
      }
      e.stopPropagation();
    });
  });