%h1= t(:welcome)
%h2 Happy birthday, Wikidata! <3
%h3= t('usage.short_intro')
- if session[:access_token].nil? && ENV['DEBUG'].nil?
  %button.btn.btn-primary{type: 'button', onclick: "window.location.href = '#{@oauth_url}';"}
    = t('usage.login')
- else
  %p
  .dropdown
    %button.btn.btn-secondary.dropdown-toggle{type: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false'}
      = t('usage.language')
    %ul.dropdown-menu
      - Rails.configuration.sorted_langs.each do |iso, data|
        %li
          = link_to "#{data[:language_name_en]} (#{data[:language_autonym]})", action: :lexeme, lang: iso