!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Luthor
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin: "anonymous"}

  %body
    .container-fluid
      .flash
        - flash.each do |key, value|
          .alert{class: "alert-#{key}"}= value
      .logo
        %a{href: '/'}
          = image_tag asset_path('luthor_logo.png'), alt: 'Luthor logo'
        %br
        .lang_switcher
          %select#lang_switcher
            - I18n.available_locales.map(&:to_s).each do |lang|
              %option{value: lang, selected: lang == I18n.locale.to_s}= t("lang.#{lang}")
        = t('author_credit_html')
        %br
        %a{href: 'https://gitlab.wikimedia.org/toolforge-repos/luthor'}= t(:source_code_link)
      = yield
      %script{src: "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity: "sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin: "anonymous"}
:javascript
  $(document).ready(function() {
    $('#lang_switcher').change(function(){
      url = window.location.href.replace(/&*locale=[a-z]+/g, '');
      loc = 'locale='+$(this).val();
      if(url.indexOf('?') > -1)
        delimiter = '&';
      else
        delimiter = '?';
      window.location.href = url + delimiter + loc;
    })
  });